.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___4C9Sj {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__irk6M {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__irk6M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__irk6M > :global(.__wab_flex-container) > *,
.freeBox__irk6M > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__bSC2:global(.__wab_instance) {
  position: relative;
}
.freeBox__yHGsr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__yHGsr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__yHGsr > :global(.__wab_flex-container) > *,
.freeBox__yHGsr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yHGsr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yHGsr > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yHGsr > :global(.__wab_flex-container) > *,
  .freeBox__yHGsr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__bYNfs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__bYNfs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bYNfs > :global(.__wab_flex-container) > *,
.freeBox__bYNfs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bYNfs {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__wFijw {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.freeBox__cxoIx {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__cbd4R:global(.__wab_instance) {
  position: relative;
}
.svg__kphZ {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__f7UmM {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__pMpbm:global(.__wab_instance) {
  position: relative;
}
.svg__fhq58 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___7AZj7 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__e6Ag:global(.__wab_instance) {
  position: relative;
}
.svg___77Q2S {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__fkvux {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__f8FxY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f8FxY {
    width: 100%;
    min-width: 0;
  }
}
.img__txkZ2 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2ZQui {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.freeBox___7Za0V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.freeBox__dkMfi {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.freeBox__iDv7 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__hpH9E {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.section___9Omaf:global(.__wab_instance) {
  align-self: center;
}
.freeBox__imObz {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.freeBox__imObz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__imObz > :global(.__wab_flex-container) > *,
.freeBox__imObz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__evsJn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ccMuA {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pdUwmR4L8T4tmz */;
}
.svg___6UoF {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__zhdFf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kzre0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pdUwmR4L8T4tmz */;
}
.svg__x4U2V {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__a5Qfx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__okjhm {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pdUwmR4L8T4tmz */;
}
.svg__x6Js7 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__koIzi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gzqA7 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pdUwmR4L8T4tmz */;
}
.svg__rVxbX {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__emp3T:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__mwcc {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pdUwmR4L8T4tmz */;
}
.svg__bpev {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ruSNy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wcYu {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: pdUwmR4L8T4tmz */;
}
.svg__qb8YK {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__z2Aez {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 5vaSdjr-y50foT */;
}
.freeBox__iZswh {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___2BoBp {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox___2BoBp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___2BoBp > :global(.__wab_flex-container) > *,
.freeBox___2BoBp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.section__oMKsL:global(.__wab_instance) {
  position: relative;
}
.freeBox__oxchQ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__oxchQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__oxchQ > :global(.__wab_flex-container) > *,
.freeBox__oxchQ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__y2De2 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__tcAeu {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__hWDeu {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__vimg3 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__mfXWi {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
