.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__gGzY {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__gGzY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__gGzY > :global(.__wab_flex-container) > *,
.freeBox__gGzY > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__nrpV2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__nrpV2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__nrpV2 > :global(.__wab_flex-container) > *,
.freeBox__nrpV2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nrpV2 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nrpV2 > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nrpV2 > :global(.__wab_flex-container) > *,
  .freeBox__nrpV2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__q4VVq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__q4VVq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__q4VVq > :global(.__wab_flex-container) > *,
.freeBox__q4VVq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q4VVq {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__gehQ1 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.freeBox__rpZ9W {
  position: relative;
  text-align: left;
}
.bullet___3RGqw:global(.__wab_instance) {
  position: relative;
}
.bullet__ic35I:global(.__wab_instance) {
  position: relative;
}
.bullet__uI3Gq:global(.__wab_instance) {
  position: relative;
}
.freeBox__nxXt8 {
  position: relative;
  text-align: left;
}
.freeBox__epE8A {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__epE8A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__epE8A > :global(.__wab_flex-container) > *,
.freeBox__epE8A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__epE8A {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__epE8A > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__epE8A > :global(.__wab_flex-container) > *,
  .freeBox__epE8A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__rtD4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rtD4 {
    width: 100%;
    min-width: 0;
  }
}
.img__mot3M {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jnESy {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.freeBox__g2LRm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__g2LRm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__g2LRm > :global(.__wab_flex-container) > *,
.freeBox__g2LRm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g2LRm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g2LRm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g2LRm > :global(.__wab_flex-container) > *,
  .freeBox__g2LRm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__rOq0K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rOq0K {
    width: 100%;
    min-width: 0;
  }
}
.img__tlrhH {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___8M6Yo {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.freeBox__be9Xv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__be9Xv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__be9Xv > :global(.__wab_flex-container) > *,
.freeBox__be9Xv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__be9Xv {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__xNpVd {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.freeBox__ljNSk {
  position: relative;
  text-align: left;
}
.bullet__sfnyV:global(.__wab_instance) {
  position: relative;
}
.bullet__kkpD9:global(.__wab_instance) {
  position: relative;
}
.bullet__gXj5A:global(.__wab_instance) {
  position: relative;
}
.freeBox___02Diu {
  position: relative;
  text-align: left;
}
.freeBox__xUma {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox__xUma > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__xUma > :global(.__wab_flex-container) > *,
.freeBox__xUma > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xUma {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xUma > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xUma > :global(.__wab_flex-container) > *,
  .freeBox__xUma > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
