.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 32px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__ez8Z {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 5vaSdjr-y50foT */;
}
.freeBox__zf4Rs {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__zf4Rs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__zf4Rs > :global(.__wab_flex-container) > *,
.freeBox__zf4Rs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zf4Rs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zf4Rs > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zf4Rs > :global(.__wab_flex-container) > *,
  .freeBox__zf4Rs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__oghas {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__oghas > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oghas > :global(.__wab_flex-container) > *,
.freeBox__oghas > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__mo1Bu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__pLnsG {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox___0TKTf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__ceTLe {
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__ceTLe:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__uopNd {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
}
.link__qclXq {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__qclXq:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__o9ZH1 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__o9ZH1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__o9ZH1 > :global(.__wab_flex-container) > *,
.freeBox__o9ZH1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o9ZH1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o9ZH1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o9ZH1 > :global(.__wab_flex-container) > *,
  .freeBox__o9ZH1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__bCwuv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__bCwuv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bCwuv > :global(.__wab_flex-container) > *,
.freeBox__bCwuv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__ngTay {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__omlxA {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
}
.root .link__omlxA:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__puul6 {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__puul6:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vkPeT {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__vkPeT:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__duqfh {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__duqfh:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__jlV9D {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__jlV9D:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__a4T1F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__a4T1F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__a4T1F > :global(.__wab_flex-container) > *,
.freeBox__a4T1F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__fO1Nz {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__xN6Lp {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__xN6Lp:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__sgGo7 {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__sgGo7:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hGwDr {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__hGwDr:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__m1BBm {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__m1BBm:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__fGxax {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__fGxax:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__mn9Fq {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__mn9Fq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mn9Fq > :global(.__wab_flex-container) > *,
.freeBox__mn9Fq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox___9E0Aa {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__fd5Yx {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__fd5Yx:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__cUbPs {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__cUbPs:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ezUgf {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__ezUgf:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__n9BRs {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__n9BRs:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___6CeGb {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link___6CeGb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___9V3Cp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox___9V3Cp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9V3Cp > :global(.__wab_flex-container) > *,
.freeBox___9V3Cp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__f9Jjt {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.freeBox__yxWTf {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
}
.freeBox___3B7Zq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 0px;
}
.freeBox__cgesx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1px;
  height: 16px;
  background: rgb(228, 230, 235);
  flex-shrink: 0;
}
.button {
  position: relative;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-style: none;
}
.svg___9BxL0 {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  flex-shrink: 0;
}
.freeBox__n9Jff {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 5vaSdjr-y50foT */;
}
.freeBox__xzqOr {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__xzqOr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzqOr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzqOr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzqOr > :global(.__wab_flex-container) > *,
  .freeBox__xzqOr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__obfGs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__kANva {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  height: auto;
  font-size: 14px;
}
.root .link__kANva:hover {
  text-decoration-line: underline;
}
.link__fwilr {
  position: relative;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  font-size: 14px;
}
.root .link__fwilr:hover {
  text-decoration-line: underline;
}
.freeBox__yA4U {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: 0ZlQD_-WpY1yt1 */;
  display: inline-block;
}
.freeBox__f0SAx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__f0SAx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__f0SAx > :global(.__wab_flex-container) > *,
.freeBox__f0SAx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__ku5Dr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__boXM {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__boXM:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__lB8W2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3Cx8 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___3Cx8:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__aOHmr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gbjpB {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__gbjpB:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
